<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2内部日志级别 -->
<configuration status="INFO">
    <!-- 全局参数 -->
    <Properties>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L -%m%n</Property>
        <Property name="displayName">DanMuJiInfo</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="INFO" onMatch="ACCEPT"
                             onMismatch="DENY" />
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFileInfo" fileName="log/${displayName}_info.log"

                     filePattern="log/${displayName}.log.%d{yyyy-MM-dd}">

            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->

            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="${pattern}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>

                <SizeBasedTriggeringPolicy size="1000 MB"/>
            </Policies>

        </RollingFile>


        <RollingFile name="ErrorRollingFileInfo" fileName="log/${displayName}_error.log"

                     filePattern="log/${displayName}_error.log.%d{yyyy-MM-dd}">

            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->

            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>

            <PatternLayout pattern="${pattern}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>

                <SizeBasedTriggeringPolicy size="1000 MB"/>
            </Policies>

        </RollingFile>

    </Appenders>
    <Loggers>
        <!-- <Logger name="org.apache.catalina.util.LifecycleBase" level="ERROR" 
            /> <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" 
            /> <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN" 
            /> -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="xyz.acproject" level="DEBUG"/>
        <Logger name="org.thymeleaf" level="INFO"/>
        <Root level="DEBUG">
            <appender-ref  ref="console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="ErrorRollingFileInfo"/>
        </Root>
    </Loggers>
</configuration>